# Ignore node_modules folder
/node_modules/

# Ignore log files
*.log

# Ignore build directory
/build/

# Ignore all .env files (useful for secrets)
*.env

# Ignore specific Tailwind CSS files (update paths as needed)
# /src/css/tailwind.css
/src/css/
